@import '../../variables';

.weather {
  display: flex;
  margin-top: 0.75rem;

  @media screen and (max-width: 960px) {
    flex-direction: column;
  }

  .info {
    margin-top: 4rem;
    font-size: 1.25rem;
    color: $blue;
  }
}
