@import '../../variables';

.weather {
  width: 80%;

  @media screen and (max-width: 960px) {
    width: auto;
  }

  h5 {
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.2;
    color: $blue;
    margin: 0.5rem 0.25rem;
  }

  .list {
    display: flex;

    @media screen and (max-width: 740px) {
      flex-direction: column;
    }
  }
}
