@import '../../variables';

.current {
  width: 20%;
  margin: 0.25rem;
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  background-color: $blue;
  background-clip: border-box;
  border: 1px solid;
  border-radius: 0.25rem;
  border-color: $blue;
  color: $white;

  @media screen and (max-width: 960px) {
    width: auto;
  }

  h5 {
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.2;
    color: $white;
    margin: 0.5rem 0.25rem;
  }

  .data {
    display: flex;
    flex-direction: row;
    align-self: center;

    @media screen and (max-width: 960px) {
      flex-direction: column;
    }

    .col {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      @media screen and (max-width: 960px) {
        flex-direction: row;
      }
    }
  }

  .iconsm {
    margin: 0.25rem;

    &::before {
      margin-right: 0.25rem;
    }
  }

  .icon {
    margin: 1rem 0.25rem;
    transform: scale(2);
  }

  .time {
    margin-bottom: 0.25rem;
  }

  .temp {
    font-weight: 500;
    font-size: 1.1rem;
    margin: 0.25rem 0;
  }

  .label {
    font-size: 0.9rem;
    font-weight: 300;
    font-style: italic;
    margin-bottom: 0.25rem;
  }
}
