@import '../../variables';

.search {
  display: flex;
  flex-wrap: wrap;
  margin-top: 3rem;
  margin-right: 0.25rem;
  margin-left: 0.25rem;

  @media screen and (max-width: 740px) {
    margin-top: 1rem;
  }

  .icon {
    transform: scale(2);
  }

  .btn {
    flex: 0 0 auto;
    color: $blue;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    background-color: transparent;
    border: 1px solid $blue-sec;
    padding: 0.4rem 1rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
      border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

    &:disabled {
      pointer-events: none;
      opacity: 0.65;
    }

    &:hover {
      color: $white;
      background-color: $blue;
      border-color: $blue;
      cursor: pointer;
    }
  }

  .select {
    flex: 1 0 auto;
    padding-right: 0.25rem;
  }
}
